table {
	background-color: #ccc;
	margin: 20px auto 20px auto;
	height: 500px;
	width: 30%;
	border-radius: 10px;
}

#titulo {
	padding-top: 15px;  
	font-size: 16pt;
	height: 10px; 
}

#label_user, #label_pass{ 
	color: #069;
	padding: 10px 10px 10px 10px; 
	height: 10px;
}

#user, #pass {
	padding-top: 0px;
	padding-right: auto; 
	height: 25px;
	width: 90%;
}

#field_pass{
	margin-left: 8% !important;
}


#field_pass, #field_user{
	width: 280px;
	padding: 6px;
	border: none;
	font: 15px; 
	border-radius: 4px;
	text-align: left !important;
}

#icone_img{
	width: 150px;
}

#icon {
	padding: 0px;
	margin: 0px;
	height: 100px;
}

#div_erro {
	background-color: rgba(236, 8, 8, 0.7);
	width: 60%;
	border-radius: 10px;
	font-size: 16pt;
	margin: auto;
	color: #000;
}

#table_login {
	text-align: center;
}

#ver_senha {
	background-color: rgba(0, 0, 0, 0);
	border: none;
}