<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cadastro de palestra - Hyper Events</title>
</head>
<body>
	<form action="../Controls/cadastra_evento.php">
		<label for="nome">Nome: </label>
		<input type="text" name="nome" id="nome" required>
		<label for="data_inicio">Data inicio</label>
		<input type="date" name="data_inicio" id="data_inicio" required>
		<label for="data_fim">Data fim</label>
		<input type="date" name="data_fim" id="data_fim" required>
		<label></label>
		<input type="" name="" id="" required>
		<label for="descricao">Descricao: </label>
		<textarea id="descricao" name="descricao">Descrição do evento</textarea>
	</form>
</body>
</html>