/* 
Documento de Estilização da pagina principal.
Criado por: Victor Castro e Rian Carvalho. 
*/

/* TAGS */
input {
	padding: 20px;
	margin: 15px;
	color: black;
}

/* IDS */
#form_login{
	color: #fff;
	background-color: blue;
	width: 20%;
	margin: auto;
	padding: 80px 100px 80px 100px;
}

#login{
	margin: 15px;
}

#Manual{
	margin: 30px;	
}

#cadastrar {
	color: #fff;
	text-decoration: none;
}

#cadastrar:hover {
	text-decoration: underline;
}

#entrar{
	cursor: pointer;
}

#voltar{
	color: #fff;
	margin: 100px;
	font-size: 18pt;
	text-decoration: none;
}

#voltar:hover{
	text-decoration: underline;
}